<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - COMP2139_ICE</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/COMP2139_ICE.styles.css" asp-append-version="true"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-primary border-bottom shadow-sm mb-3">
        <div class="container-fluid">
            
            
            <a class="navbar-brand text-white fw-bold"
               asp-area="" 
               asp-controller="Home" 
               asp-action="Index"><i class="fas fa-graduation-cap"></i> PM Tools Inc
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                
                
                <form class="d-flex align-items-center" asp-controller="Home" asp-action="Generalsearch" method="get">
                    <div class="input-group">
                    <input class="form-control me-2" type="text" placeholder="Search..." name="searchString" required />
                    
                    <select class="form-select me-2" name="searchType" required>
                        
                        <option value="" disabled selected> Select Search Type </option>
                        <option value="Projects" > Projects </option>
                        <option value="Tasks"> Tasks </option>
                        
                    </select>
                    
                    <button class="btn btn-outline-success" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i> Search
                    </button>
                </div>

                </form>
                
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">
                            <i class="fas fa-info-circle"></i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="ProjectManagement" asp-controller="Project" asp-action="Index">
                            <i class="fas fa-clipboard"></i> Projects
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - PM Tools Inc - <a asp-area="" asp-controller="Home" asp-action="About"><i class="fa-solid fa-circle-info"></i> About</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>