@{
    ViewBag.Title = "About";
    Layout = "_Layout";

    //Defining profile variables
    var name = "Parsa";
    var studentNumber = "101491591";
    var courseCode = "2139";
    var courseSection = "50265";
}

<h1>About</h1>

<div>
    <h2>Welcome to my Application</h2>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course code: @courseCode</p>
    <p>Section: @courseSection</p>
    <p>Github URL:
        <a href="https://github.com/parsamollahoseini/COMP2139-W2025">
            https://github.com/parsamollahoseini/COMP2139-W2025
        </a></p>
</div>