@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">COMP2139-ICE Labs</h2>
    <p class="lead mt-3">Welcome to the COMP2139-ICE labs application. Use the navigation bar to explore the features.</p>
</div>